* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(237, 180, 100, 0.992);
  color: black;
}
.h1 {
  text-align: center;
  margin-bottom: 10px;
}
.ticket {
  height: 50px;
  width: 350px;
  border: 2px solid black;

  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
}
.btn {
  height: 40px;
  width: 170px;
  margin-top: 20px;
  background-color: white;
  color: black;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
