* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
}

.todo {
  /* height: 200px;
  width: 400px; */
  padding: 20px;
  /* background-color: white; */
  color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo input {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  border: 2px solid white;
  color: black;
  font-size: 15px;
}

.todo button {
  height: 40px;
  width: 100px;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  margin-left: 10px;
  color: white;
  font-size: 15px;
}

ul li {
  margin-left: 50px;
  font-size: 20px;
  margin-top: 20px;
}

.deletebtn {
  height: 30px;
  width: 80px;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 20px;
  margin-left: 20px;
}

.updateAll {
  height: 40px;
  width: 200px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  margin: 10px;
  margin-left: 90px;
}

.updateOne {
  height: 30px;
  width: 80px;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 20px;
  margin-left: 20px;
}

.markAsDone {
  height: 30px;
  width: 100px;
  background-color: white;
  color: black;
  border: 2px solid white;
  border-radius: 20px;
  margin-left: 20px;
}
